body {
    background-color: #c3c6cc;
}

.main {
    text-align: center;
}

.nameHeader {
    color: #15397F;
    font-style: bold;
    font-size: 60px;
}

#toledo-logo {
    height: 150px;
    width: 150px;
}

.grid-container {
    position: relative;
    top: 25px;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #c3c6cc;
    padding: 10px;
}

.grid-item {
    height: 200px;
    width: 250px;
    font-size: 25px;
    text-align: center;
    box-shadow: inset 0 0 0 0 #ffffff;
    background-color: #ffffff;
    border: 1px solid #000000;
    color:#15397F;
    transition: 
    color .3s ease-in-out, 
    box-shadow .3s ease-in-out,
    .3s transform;
}

.grid-item:hover {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 250px #15397F;
    transform: scale(1.2);
}

#para1 {
    color: #FFFFFF;
}

#collapse-1 {
    position: absolute;
    top: 125%;
    left: 55%;
    width: 1200px;
    height: 500px;
    transform: translate(-50% , -50%);
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    color:#15397F;
}