body {
    background-color: #FCEDDA;
}

.main {
    text-align: center;
}

.nameHeader {
    color: #EE4E34;
    font-style: bold;
    font-size: 60px;
}

#toledo-logo {
    height: 100px;
    width: 100px;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #cc6c5d;
    padding: 10px;
}

.grid-item {
    height: 200px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    color:rgba(0, 0, 0, 0.8);
    font-size: 25px;
    text-align: center;
}

#para1 {
    color: #FFFFFF;
    font-size: 16px;
}